.changeTimer {
  display: flex;
  gap: 5px;
}

.allTimer-Wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.count-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 10px;

  justify-content: center;
  align-items: center;
}

.counter-Area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 150px;

  position: relative;
}

.btn {
  font-size: 12px;
  width: 40px;

  display: inline-block;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  border: 2px solid #000;
  background: #fff;
  box-shadow: -6px 6px 0px 0px #000;
  width: 100px;
  height: 40px;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px white;
}

/*COUNTDOWN V1*/

.cirleSVG {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  right: 0;
}
.timeSetter-input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.timeSetter {
  display: flex;

  gap: 10px;
  justify-content: center;
  align-items: center;
}

.time-setter-btns {
  display: flex;
  gap: 5px;
}
.timeSetterInput {
  display: flex;
  flex-direction: column;
}
.error {
  color: tomato;
}

/*CountDOWN V2*/

.classic-counter {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.classic-timer-btns {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.timerColor {
  font-size: 36px;
}

/*TimeSetter.jsx  */

.taskTitle {
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.task {
  width: 400px;
  height: 40px;
}

.taskName {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.taskTitle::placeholder {
  font-size: 20px;
  font-style: italic;
  color: rgb(167, 160, 160);
}

/* CSS */
.trackerAddbtn {
  display: inline-block;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 2px solid #000;
  background: #fff;
  box-shadow: -6px 6px 0px 0px #000;
  width: 75px;
  height: 40px;
}

.trackerAddbtn:active,
.trackerAddbtn:hover {
  outline: 0;
}

.inputArea {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
