.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
  height: 75%;
  z-index: 10;
}

.emptyCardMes {
  font-size: 18px;
}
.emptyIMG {
  width: 50%;
}

.emptyCardMes {
  display: flex;
  flex-direction: column;
}
